{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block menu %}
    <header class="linear-center evenly top-fixed">
        {% if user.is_authenticated %}
        <a class="color-black font-medium" href="{% url 'posts:profile' %}">Perfil</a>
        <a class="color-black font-medium" href="{% url 'accounts:logout' %}">Sair</a>
        {% else %}
        <a class="color-black font-medium" href="{% url 'accounts:login' %}">Entrar</a>
        {% endif %}
    </header>
    {% endblock %}

    {% block body %}
    {% endblock %}
</body>
</html>