{% extends 'base.html' %}

{% load static %}

{% block titulo %} Entrar {% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<section class="bg-white">
    <div class="page bg-white padding-top-5">
        <span class="linear-center gap-none">
            <h2 class="color-black" name="login" id="text"></h2>
            <h2 class="color-black animation-type" id="bar" >_</h2>
        </span>
            
        {% load widget_tweaks %} 

        {% if form.errors %}
            <p class="msg-error">Usuário e senha incorretos. Por favor, tente novamente.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="msg-error color-yellow">Sua conta não possue acesso a esta página. Proceda,
                o login com a conta de acesso.</p>
            {% else %}
                <p class="msg-error color-yellow">Por favor, logue para ver a página.</p>
            {% endif %}
        {% endif %}

        {% if not form.errors and not next %}
        <p class="msg-error"></p>
        {% endif %}

        <form class="column-center gap-2" id="login-form" action="" method="post">
            {% csrf_token %}
            <div class="column-center gap-1">   
                <input name="field-username" class="input bg-gray color-black" placeholder="Usuário ou E-mail" type="text">
                <input id="password" name="field-password" class="input bg-gray color-black" placeholder="Senha" type="password">
            </div>
            <button type="submit" class="btn-medium color-clean-white">Entrar</button> 
        </form>

        <div class="column-center gap-1 padding-top-1 evenly">
            <div class="linear-center gap-1">
                <hr class="line color-clean-black">
                <p>ou</p>    
                <hr class="line color-clean-black">
            </div>
            <a title="Redefinir Senha" class="btn-medium linear-center font-small" href="/#">Redefinir senha</a>
            <a class="btn-medium linear-center font-small" href="{% url 'account:signup' %}">Inscreva-se</a>
            
        </div>
    </div>
</section>
<script src="{% static 'js/ban_paste.js' %}"></script>
<script src="{% static 'js/typing_on_screen.js' %}"></script>
{% endblock %}
