{% extends 'base.html' %}

{% load static %}

{% block titulo %} Entrar {% endblock %}

{% block menu %}
{% endblock %}

{% block body %}
<section class="bg-white page">
    <div class="container">
        <span class="linear-center gap-none">
            <h2 class="color-black" name="login" id="text"></h2>
            <h2 class="color-black animation-type" id="bar" >_</h2>
        </span>
            
        {% load widget_tweaks %} 

        {% if form.errors %}
            <p class="msg-error">Usuário e senha incorretos. Por favor, tente novamente.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="msg-error color-yellow">Sua conta não possue acesso a esta página. Proceda,
                o login com a conta de acesso.</p>
            {% else %}
                <p class="msg-error color-yellow">Por favor, logue para ver a página.</p>
            {% endif %}
        {% endif %}

        {% if not form.errors and not next %}
        <p class="msg-error"></p>
        {% endif %}

        <form class="column-center gap-2" action="" method="post">
            {% csrf_token %}
            <input name="field-username" class="input bg-gray color-black" placeholder="Usuário ou E-mail" type="text">
            <input name="field-password" class="input bg-gray color-black" placeholder="Senha" type="password">
            <button type="submit" class=" link btn-medium bg-gradient color-black">Entrar</button> 
        </form>

        <div class="column-center padding-top-2">
            <div class="linear-center gap-1">
                <hr class="line bg-black color-yellow">
                <p class="ou color-black">ou</p>    
                <hr class="line bg-black color-yellow">
            </div>
            <div class="btn-medium linear-center bg-gradient">
                <a title="Redefinir Senha" class="link color-black" href="#">Redefinir senha</a>
            </div>
        </div>
        <div class="linear-center gap-2 padding-top-5">
            <a title="Google" class="font-normal font-medium linear-center color-black gap-1" href="#">
                <img class="img-small" src="{% static 'img/logo_g.png' %}" alt="Google">Logue com Google
            </a>
            <a class="font-normal font-medium color-black" href="{% url 'account:signup' %}">Inscreva-se</a>
        </div>
    </div>
</section>
<script src="{% static 'js/proibir_colar.js' %}"></script>
<script src="{% static 'js/typing_on_screen.js' %}"></script>
{% endblock %}
