@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,400&family=Roboto+Mono:ital,wght@0,100;0,300;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root{
    --gray: #F6F7F9;
    --white: #ffffff;
    --clean-white: #ffffffb0;
    --black: #0d0d0d;
    --clean-black: #0d0d0db0;
    --yellow: #E3F84A; 
}

*{ padding:none; border: none; text-decoration: none; }

/* ------- TAGS ------- */
html, body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* ------- Pagination -------- */
.linear-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.linear-left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start; 
}

.linear-start{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; 
}

.evenly{
    justify-content: space-evenly;
}

.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.column-between{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page{
    height: 90vh;
    width: 100vw;
    border-radius: 0px 0px 40px 40px;
}

.full{
    height: 100vh;
    width: 100vw;
}

.top-fixed, .bottom-fixed{
    width: 100vw;
    height: 10vh;
    position: fixed;
}

.left-fixed{
    height: 100vh;
    width: 8vw;
    position: fixed;
}

.body-left-fixed{
    left: 8px;
    width: 92vw;
    position: inherit;
    border-radius: 25px 0px 0px 25px;
}

.bottom-fixed{
    bottom: 0vh;
}

.top-fixed{
    top: 0vh;
}

.inside{
    position: relative;
    right: 35px;
    cursor: pointer;
}

@media (max-width: 800px){
    .container{
        width: 100%;
    }
    .top-fixed, .bottom-fixed{
        height: 4vh;
    }
    .linear-center{
        justify-content: space-around; 
    }
}

/* ------ Texts -------- */

.font-bold, .font-line, .font-normal{
    font-family: 'Lato', sans-serif;    
}

.family-font{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.font-line{
    font-weight: 300;
}

.font-normal{
    font-weight: 400;
}

.font-bold{
    font-weight: 700;
}

.font-extra-bold{
    font-weight: 900;
}

.font-small{
    font-size: 0.9rem;
}

.font-small-small{
    font-size: 0.5rem;
}

.font-medium{
    font-size: medium;
}

.font-bigger{
    font-size: 1.6rem;
}

.font-big-bigger{
    font-size: 2rem;
}

.justify {
    text-align: justify;
}

/* SEM USO */
.msg-error{
    margin-top: 0.2vh;
    justify-items: center;
    font-size: 0.8vw;
}

.img-small {
    width: 1.5vw;
}

.img-medium{
    width: 2vw;
}

.img-big{
    width: 5vw;
}

.link-black, .link-white{
    transition: all 0.5s;
    cursor: pointer;
    font-weight: 500;
}

.link-black{
    color: var(--clean-black);
}

.link-white{
    color: var(--clean-white);
}

.link-white:hover{
    color: var(--white);
    font-weight: 600;
}    

.link-black:hover{
    color: var(--black);
    font-weight: 600;
}    
@media (max-width: 800px){
    .font-small{
        font-size: 0.4rem;
    }
    .font-medium{
        font-size: 0.75rem;
    }
    .font-bigger{
        font-size: 1rem;
    }
    .img-small{
        width: 4vw;
    }
}

.none{
    display: none;
}

/* ------- Draw ------- */
.line{
    margin: 0vh;
    width: 9vw;
    border-top: 0.1px solid rgba(13, 13, 13, 0.5);
}

.line-medium{
    margin: 0vh;
    width: 40vw;
    height: 3vh;
    border-top: 1px solid var(--clean-black);
}

.circle{
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
}

.circle-small{
    height: 2vw;
    width: 2vw;
    border-radius: 100%;
}

.circle-medium{
    height: 3vw;
    width: 3vw;
    border-radius: 100%;
}

@media (max-width: 800px){
    .line{
        width: 35vw;
    }
    .line-medium{
        width: 50vw;
    }
}
/* ------ Colors ------ */
.bg-gray{
    background-color: var(--gray);
}

.bg-white{
    background-color: var(--white);
}

.bg-black{
    background-color: var(--black);
}

.bg-gradient{
    background: rgb(61,90,252);
    background: linear-gradient(90deg, rgba(61,90,252,1) 0%, rgba(107,13,193,1) 100%);    
}

.bg-gradient-dark{
    background: linear-gradient(90deg,#150025 0%, #07070F 100%);
}

.bg-gradient-dark-0{
    background: linear-gradient(0deg, #150025 0%, #07070F 100%);
}

.color-white{
    color: var(--white);
}

.color-gray{
    color: var(--gray);
}

.color-red{
    color: red;
}

.color-black{
    color: var(--black);
}

.color-clean-black{
    color: var(--clean-black);
}

.color-clean-white{
    color: var(--clean-white);
}

/* ------ Button ------ */
.btn-medium, .btn-small, .btn-big, .btn-small-small{
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    padding: 2vh 0vw;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(31,2,48,1) 0%, rgba(0, 0, 0, 1) 100%);
    color: var(--white);
    border: 2px solid var(--black);
}

.btn-small-small{
    width: 10vw;
}

.btn-small{
    width: 15vw;
}

.btn-medium{
    width: 22vw;
}

.btn-big{
    width: 30vw;
}

.btn-small-small:hover, .btn-small:hover.btn-medium:hover, .btn-big:hover{
    color: var(--clean-black);
    font-weight: 600;
    background: var(--white);
}

.input, .input-research-man{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    height: 6.1vh;
    width: 20.8vw;
    border-radius: 25px;
    padding-left: 1.2vw;
}

.input-research-man{
    width: 50vw;
    border: 2px solid var(--black);
}

@media (max-width: 800px){
    .btn-medium{
        width: 80vw;
    }
    .btn-small{
        width: 60vw;
    }
    .btn-big{
        width: 90vw;
    }
    .input{
        width: 75vw;
        padding-left: 5vw;
    }
}

/* ----- Spaces ----- */
.gap-1{
    gap: 1vw;
}

.gap-2{
    gap: 2vw;
}

.gap-2-h{
    gap: 2vh;
}

.gap-5{
    gap: 5vw;
}

.gap-none{
    gap: none;
}

.padding-top-1{
    padding-top: 1vh;
}

.padding-top-2{
    padding-top: 2vh;
}

.padding-top-5{
    padding-top: 5vh;
}

.padding-top-10{
    padding-top: 10vh;
}

.padding-left-10{
    padding-left: 20vh;
}

.padding-right-10{
    padding-right: 20vh;
}

.padding-5{
    padding: 5vh 5vw;
}

.margin-left-1{
    margin-left: 1.5vw;
}

@media (max-width: 800px){
    .gap-5{
        gap: 3vw;
    }
    .gap-1{
        gap: 1.8vw;
    }
    .padding-top-2{
        padding-top: 1vw;
    }
    .margin-left-1{
        margin-left: 3vw;
    }
}

/* ------ Animations ------ */
.animation-type{
    animation: animate 1s infinite linear;
}

@keyframes animate {
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}